.org-id-locations
.lsp*
.sx
forge-database.sqlite
/auto-save-list
/backup
/bookmarks
/.cache
/elpa
/eshell
/flycheck_init.el
/kkcrc
lisp/flycheck*
/network-security.data
/private-data.el
projectile*
/recentf
/request
/tramp
/transient
/url
/var
